<footer class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer-left">
                <p>&copy; {{ 2025 }} Kevin Franz Jr.</p>
            </div>
            <div class="footer-right">
                <p>Email: <a href="mailto:[PARENT-EMAIL]@example.com">[Parent/Contact Email]</a></p>
                <div class="footer-links">
                    <a href="#" target="_blank">Highlight Video</a>
                    <span>•</span>
                    <a href="#" target="_blank">Hudl</a>
                    <span>•</span>
                    <a href="#" target="_blank">YouTube</a>
                </div>
            </div>
        </div>
    </div>
</footer>
